//primary colors 
$global-text-color: #13182C;
$interactive-elements: #2E66E5;
$global-white: #FFFFFF;

//secondary colors 
$placeholder-color: #5C667E;
$outlines-dividers-borders: #BDC5D5;

//background colors 
$top-navigation-header-bg: #232940;
$page-bg-table-column-header-bg-cta-bg: #F7F8F9;

//supporting colors
$in-stock-color: #158463;
$out-of-stock-color: #C94515;