@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/buttons-text-links' as *;
@use '../../styles/partials/pad-marg' as *;
@use '../../styles/partials/mobile-fonts' as *;  
@use '../../styles/partials/deskntab-fonts' as *;  

.card-header {
    margin: 0 1.5rem;
    @include mobile-pg-header;  

    @include tablet {
        padding: 0 2rem;
        margin: 0;
        @include deskntab-pg-header;
    }

    @include desktop {
        padding: 0 2.5rem;
    }
}
