@use '../../styles//partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/buttons-text-links' as *;
@use '../../styles/partials/pad-marg' as *;
@use '../../styles/partials/mobile-fonts' as *;
@use '../../styles/partials/deskntab-fonts' as *;


.warehouse__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid grey;
    padding: 1rem;
    @include tablet {
        width: 100%;
        margin: 0 2rem 0 2rem;
        padding: 0;
    }
    &--title {
        // width: 14rem;
        display: flex;
        justify-content: space-between;
    }
    &--edit-wrap {
        border-radius: 50%;
        padding: 0.3rem;
        height: 36px;
        width: 36px;
        background-color: #2E66E6;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(150%) contrast(102%);    
        }
        @include tablet {
            display: none;
        }
        &--big {
            display: none;
            @include tablet {
                color: white;
                border-radius: 20px;
                padding: 0.3rem;
                height: 38px;
                width: 81px;
                background-color: #2E66E6;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(150%) contrast(102%);    
                }
            }
        }      
    }
}

.warehouse__container {
        // border-bottom: 1px solid grey;
        border-top: 1px solid #BDC5D5;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            justify-content: space-around;
        }
        &--address {
            margin-bottom: 2rem;
            line-height: 1.5rem;
            @include tablet {
                width: 25%;
            }
        }
        &--contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            line-height: 1.5rem;
            @include tablet {
                width: 50%;
                border-left: 1px solid #BDC5D5;
                height: 4rem;
                padding-left: 3rem;
            }
            @include desktop {
                width: 45%
            }
        }
        &--header {
            @include mobile-body-med;
        }
}

// .inventory__container {
//     display: flex;
//     flex-direction: column;
//     padding: 2rem;
//     border-bottom: 1px solid grey;
//     &--top {
//         width: 100%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         margin-bottom: 2rem;
//         line-height: 1.5rem;
//     }
//     &--item {
//         display: flex;
//         flex-direction: column;
//         &--name {
//             color: #2E66E6;
//         }
//     }
//     &--status {
//         display: flex;
//         flex-direction: column;
//         // margin-right: 7.5rem;
//         width: 12rem;
//     }
//     &--bottom {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         margin-bottom: 2rem;
//         line-height: 1.5rem;
//     }
//     &--category {
//         display: flex;
//         flex-direction: column;
//     }
//     &--qty {
//         width: 12rem;
//         display: flex;
//         flex-direction: column;
//         // margin-right: 7.5rem
//     }
//     &--icons {
//         display: flex;
//         justify-content: space-between;
        
//     }
// }
