@use './styles/partials/colors' as *;
@use './styles/partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    /// Adding the font-family here and removing from all mixins to stay DRY
    font-family: 'TitilliumWeb'  
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    background-color: $bg-color;
    font-family: 'TitilliumWeb';
}